* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
.App {
  text-align: center;
}
.panel {
  position: fixed;
  background-color: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  color: #eee;
  text-align: center;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #aaa;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #111;
}
/* media queries */
@media screen and (min-width: 1600px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 3000px) {
  html {
    font-size: 18px;
  }
  .search-bar {
    height: 180px;
  }
}